.review {
  border-bottom: 0.015rem solid #123c69;
  padding-top: 0.5em;
  margin-left: 2.5em;
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: 12em;
  flex-direction: column;
}
.reviewlast {
  padding-top: 0.5em;
  margin-left: 2.5em;
  max-width: 900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: 12em;
  flex-direction: column;
}

@media all and (max-width: 900px) {
  .review {
    flex: 1;
    border: 0;
  }
  .p {
    border-bottom: 0.015rem solid #123c69;
    margin-left: 1.6em;
    margin-right: 1.6em;
    padding-bottom: 1em;
    flex: 1;
  }
  .plast {
    margin-left: 1.6em;
    margin-right: 1.6em;

    flex: 1;
  }
}
